 
.animal{
    position: relative;
    background: rgba(0,0,0,0.5);
    margin: 2px;
    float: left;
}
.animal img{
    max-width: 200px;
    max-height: 100px
}
.animal_info{
    position: absolute;
    min-width: 100%;
    height: 600px;
    top: 78px;
    bottom: 180px;
    left: 0px;
    background-color: #333333;
    display: none;
    vertical-align: middle;
    overflow: auto;

}
.info_bkg{
	background-color: rgba(0,0,0,0.5);
	min-height: 100%;
	min-width: 100%;
	margin: 5px auto;
	border-radius: 5px;
}

.animals_container {
    min-height: 80%;
}
.animal_photo_container {
    display: inline-block;
}
.animal_info .close_info {      
    position: absolute;
    right: 20px;  
    overflow: hidden;
    background: red;
    border-radius: 6px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

.animal_info .big_image {
    background-repeat: no-repeat;
    /*background-color: blue; */
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
.leon1{background-image: url(../img/0101.jpg);}
.leon2{background-image: url(../img/0102.jpg);}
.leon3{background-image: url(../img/0103.jpg);}
.leon4{background-image: url(../img/0104.jpg);}
.canguro1{background-image: url(../img/0201.jpg);}
.canguro2{background-image: url(../img/0202.jpg);}
.canguro3{background-image: url(../img/0203.jpg);}
.canguro4{background-image: url(../img/0204.jpg);}
.koala1{background-image: url(../img/0301.jpg);}
.koala2{background-image: url(../img/0302.jpg);}
.koala3{background-image: url(../img/0303.jpg);}
.koala4{background-image: url(../img/0304.jpg);}
.cocodrilo1{background-image: url(../img/0401.jpg);}
.cocodrilo2{background-image: url(../img/0402.jpg);}
.cocodrilo3{background-image: url(../img/0403.jpg);}
.cocodrilo4{background-image: url(../img/0404.jpg);}
.tibulon1{background-image: url(../img/0501.jpg);}
.tibulon2{background-image: url(../img/0502.jpg);}
.tibulon3{background-image: url(../img/0503.jpg);}
.tibulon4{background-image: url(../img/0504.jpg);}
.pinuino1{background-image: url(../img/0601.jpg);}
.pinuino2{background-image: url(../img/0602.jpg);}
.pinuino3{background-image: url(../img/0603.jpg);}
.pinuino4{background-image: url(../img/0604.jpg);}
.loro1{background-image: url(../img/0701.jpg);}
.loro2{background-image: url(../img/0702.jpg);}
.loro3{background-image: url(../img/0703.jpg);}
.loro4{background-image: url(../img/0704.jpg);}
/*.animal_info #_01{background-image: url(../img/0101.jpg);}
.animal_info #_02{background-image: url(../img/0201.jpg);}
.animal_info #_03{background-image: url(../img/0301.jpg);}
.animal_info #_04{background-image: url(../img/0401.jpg);}
.animal_info #_05{background-image: url(../img/0501.jpg);}
.animal_info #_06{background-image: url(../img/0601.jpg);}
.animal_info #_07{background-image: url(../img/0701.jpg);}*/
.animal_info .small_image {
    background: blue url(image/koala.jpg) 100% 99%;
    width: 200px;
    height: 200px;
    margin: 20px 20px;
    display: inline-block;

}
.animal_info .other_images {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.animal_info .animal_details {    
    position: relative;
    display: inline-block;
    max-width: 500px;
    margin: 20px;
    padding: 10px;
    vertical-align: bottom;
    background-color: #ccc;
    font-size: 1.5em;
    border-radius: 10px;
}